p.title{
	font-size: 130px;
	font-family: "Century Gothic", "Avenir-Book", "Arial", "Sans-serif";
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	color: black;
}

#my_name{
	font-size: 130px;
}

#name {
	padding: 30px;
	height: 120.5px;
	width: 425px;
}
p.description {
	font-size: 3.1vh;
	font-family: "Century Gothic", "Avenir-Book", "Arial", "Sans-serif";
	margin-top: auto;
	margin: auto;
	width: 90%;
	color: black;
}

#homeDescription {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}


p.links {
	font-size: 3.1vh;
	font-family: "Century Gothic", "Avenir-Book", "Arial", "Sans-serif";
	margin: auto;
	text-align: center;
	color: black;
}

a:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
	color: black;
}

a:hover {
    color: #4B8EAA;
    text-decoration: none;
    font-weight: bold;
}


#aboutDescription {
	float: left;
	width: 650px;
}


p.nav {
	font-size: 20px;
	font-family: "Century Gothic", "Avenir-Book", "Arial", "Sans-serif";
	font-weight: bold;
	text-decoration: none
}


div.box {
	min-height: 100vh;
	position: relative;
}



div.innerBox {
	background-color: white;
	height: auto;
	top: 50%;
	left: 50%;
	position: absolute;
	padding: 2%;
	transform: translate(-50%, -50%);
	padding-bottom: 5%;
	width: 80%;

}

#index1{
	width: 50%;
}


#backToTop{
	z-index: 1;
	position: fixed;
    bottom: 5%;
    right: 5%;
    opacity: .6;
    display: none;
}

#backToTop img{
	height: 105px
}

#phone{
	height: 130px;
}

#projects{
	width: 90%;
	margin: 0 auto;
}

#projects p{
	font-family: "Century Gothic", "Avenir-Book", "Arial", "Sans-serif";
	font-size: 3.1vh;
}

#projects a{
	text-decoration: none;
	font-weight: bold;
}

div.popup{
	background-color: white;
	top: 50%;
	left: 50%;
	position: fixed;
	padding: 2%;
	transform: translate(-50%, -50%);
	padding-bottom: 5%;
	padding-top: 5%;
	width: 80%;
	height: 70%;
	z-index: 1;
	border: 2px solid #85D5F7;
	display: none;
}

img.x{
	top: 2%;
	left: 2%;
	position: absolute;
	z-index:2;
	height: 6vh;
	opacity: .6;
}

#artInnerBox{
	text-align: center;
}

img.grid{
	width: 24.6vw;
	height: 24.6vw;
	position: relative;
}

div.grid_cover{
	background-color: black;
	height: 24.6vw;
	width: 24.6vw;
	margin: .5vw;
	display: inline-block;
}

span.pointer{
	color: black;
	cursor: pointer;
}

#intro{
	min-height: 100vh;
	position: relative;
	background-color: white;
}

#intro img{
	top: 50%;
	left: 47%;
	position: absolute;
	transform: translate(-50%, -50%);
}



