.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
	z-index: 1;
    position: fixed;
    display: inline-block;
    left: 90%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#drop {
	text-decoration: none;
}



p.title{
	font-size: 112.5px;
	font-family: "Century Gothic";
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
	color: black;
}

p.description {
	font-size: 22.5px;
	font-family: "Century Gothic";
	margin-top: auto;
	text-align: center;
	margin: auto;
}

#homeDescription {
	padding-left: 10px;
	padding-right: 10px;
}


p.links {
	font-size: 16.87px;
	font-family: "Century Gothic";
	margin-top: auto;
	margin: auto;
	text-align: center;
}

p.aboutText {
	font-size: 18.5px;
	font-family: "Century Gothic";
	margin-top: auto;
	margin: auto;
}

#aboutInnerBox{
	width: 1270px;	
}

#aboutDescription {
	float: left;
	width: 650px;
}


p.nav {
	font-size: 20px;
	font-family: "Century Gothic";
	font-weight: bold;
	text-decoration: none
}

#currentpage {
	color: #A94C9C;
	font-weight: bold;
	background-color: yellow;
}



a:link {
    text-decoration: underline;
    color: black
}

a.nav {
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
    text-decoration: line-through;
    color: #4B8EAA;
}



div.box {
	height: 900px;
	position: relative;
}



div.innerBox {
	background-color: white;
	height: 337.5px;
	width: 562.5px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

#myPic {
	float: left;
	width: 600px;
	margin-left: 20px
}



